<div class="movie-details-container" *ngIf="movie$ | async as movie">
    <div class="left-panel">
        <div class="movie-thumbnail">
            <img src="assets/images/{{movie.thumbnail}}" alt="{{movie.title}}">
        </div>
        @if (isOnWatchList()) {
            <button mat-fab extended color="accent" (click)="watchlistManagerService.removeMovieFromWatchlist(movie.title)">
                <mat-icon >favorite_border</mat-icon>
                Remove from watchlist
            </button>
        } @else {
            <button mat-fab extended color="primary" (click)="watchlistManagerService.addMovieToWatchlist(movie.title)">
                <mat-icon>favorite</mat-icon>
                Add to watchlist
            </button>
        }
        
    </div>
    <div class="right-panel">
        <div class="title-section">
            <h1>{{movie.title}}</h1>
        </div>
        <div class="movie-information-section">
            <sub>
                <span class="movie-rating-label"><mat-icon aria-hidden="false" aria-label="star_rating" fontIcon="star_rating"></mat-icon> <span>{{movie.rating}}</span></span> | {{movie.durationInMin | formatMovieDuration}} | {{movie.releasedDate | date:'dd/MM/YY'}}
            </sub>
        </div>

        <div class="genre-section">
            <span class="genre-item" *ngFor="let genre of movie.genre; first as isFirst;">
                {{genre}}
            </span>
        </div>

        <div class="description-section">
            <span>{{movie.description}}</span>
        </div>

        <div class="trailer-preview-section">
            <iframe width="800" height="450" [src]="safeUrl" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

</div>